{% extends "BC/base_dv.html" %}
{% load static %}
{#Signup page:#}
{#- First Name: required#}
{#- Last name: required#}
{#- Email: required (send verification email), need to use the same verify verification proccess#}
{#- Password: required#}
{#- Confirm Password: required#}
{#- date of birth: required#}
{#- USAC number: Optional#}
{#- Gender: Optional#}
{#- Phone number: Optional#}
{#- addresss 1: Optional#}
{#- addresss 2: Optional#}
{#- city: Optional#}
{#- state: Optional#}
{#- zip code: Required#}
{#- country: Optional, Default Unites States#}
{#- Waiver#}
{#- release#}
{#- opt out  email#}

{% block content %}
    <section class="content">
        <div class="container">
            <h2>Signup</h2>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"  id="waiver" name="waiver">
                    <label class="form-check-label" for="waiver">I agree to the waiver</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"  id="terms_of_service" name="terms_of_service">
                    <label class="form-check-label" for="terms_of_service">I agree to Terms and Service</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"  id="opt_out_email" name="opt_out_email">
                    <label class="form-check-label" for="opt_out_email">Opt out of promotional emails</label>
                </div>
                <button type="submit" class="btn btn-primary">Signup</button>
            </form>
        </div>
    </section>

  <style>


.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 0;
}

/* Login form styles */
form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.at-input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.at-submit {
    padding: 10px;
    background-color: #e85628;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.at-submit:hover {
    background-color: #000000;
}

.at-error {
    color: red;
    margin-bottom: 15px;
}

  </style>
{% endblock %}






