{% extends "BC/base_dv.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <h1>Sign In</h1>
            {{ form.username.label_tag }} {{ form.username }}
            {{ form.password.label_tag }} {{ form.password }}
            {% if form.errors %}
                <div class="at-error">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
            <input type="submit" value="Login"  class="at-submit">
        </form>
    </div>
  <style>
    /* General styles */


.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 40px 0;
}

/* Login form styles */
form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.at-input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.at-submit {
    padding: 10px;
    background-color: #e85628;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.at-submit:hover {
    background-color: #000000;
}

.at-error {
    color: red;
    margin-bottom: 15px;
}

  </style>
{% endblock%}