{% extends "BC/base_dv.html" %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Join {{ org.name }}</title>
</head>
{% block content %}
    <section class="content">
        <br>
        <br>
        <br>
        <form method="post">
            {% csrf_token %}
            <textarea class="scrollabletextbox" name="note">
                {{ Club.waiver_text }}
            </textarea>
            <br>
            {% for f in form %}
                {{ f }}
                <br>
            {% endfor %}
            <button class="btn btn-primary my-4" type="submit">Join {{ org.name }}</button>
        </form>
    </section>
{% endblock %}